div {
    width: 280px;
    min-height: 150px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    padding: 50px;
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}
